*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html{
    font-size: 62.3%;
}

body{
    box-sizing: border-box;
}

section{
    display: flex;
    align-items: center;
    justify-content: center;
}
.section-book{
    height: 100vh;
    background-image: linear-gradient(to right bottom, #66a5ad, #c4dfe6);
}
.book{
    width: 60%;
    height: 60%;
    background-image: linear-gradient(105deg, rgba(255,255,255,0.9) 0%, rgba(255,255,255,0.9) 50%, transparent 50%), url("bg.jpg");
    background-size: 100%;
    background-position: right;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4 rem rgba(0,0,0,0.2);

}
.book-form{
    width: 50%;
    padding: 5rem;
}
.heading{
    font-size: 2.4rem;
    margin-bottom: 2rem;
    color: #07575b;
}

.form-group{
    margin-bottom: 0.5rem;
}
.form-group:nth-child(3){
    margin-bottom: 0.5rem;
}

.form-input{
    font-size: 1.5rem;
    font-family: inherit;
    color: inherit;
    padding: 0.9rem 1rem;
    border-radius: 2px;
    background-color: rgba(196, 223, 230, 0.4);
    border: none;
    border-bottom: 3px solid transparent;
    width: 90%;
    display: block;
    transition: all 0.3;
}
.form-input:focus{
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.1);
    border-bottom: 3px solid #07575b;
    background-color: rgb(196,223, 230);

}
.form-input:focus:invalid{
    border-bottom: 2px solid red;

}
.form-input::-webkit-input-placeholder{
    color: gray;
}

.form-label{
    font-size: 1.4rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: 0.7rem;
    display: block;
    transition: all 0.3s;
}

.form-input:placeholder-shown + .form-label{
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
}

.form-radio-group{
    width: 49%;
    display: inline-block;
}

.form-radio-input{
    display: none;

}
.form-radio-label{
    font-size: 1.5rem;
    cursor: pointer;
    position: relative;
    padding-left: 3rem;
}

.form-radio-button{
    height: 1.8rem;
    width: 1.8rem;
    border: 3px solid #07575b;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 0;
   
    
}

.form-radio-button::after{
    content: "";
    display: block;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #07575b;
    opacity: 0;
    transition: opacity 0.2s;
}
 
.form-radio-input:checked ~ .form-radio-label .form-radio-button::after{
    opacity: 1;
}

.btn , .btn:link, btn:visited{
    text-transform: uppercase;
    text-decoration: none;
    padding:  1rem 3rem;
    display: inline-block;
    border-radius: 50px;
    transition: all 0.2s;
    position: inherit;
    font-size: 14px;
    border: none;
    cursor: pointer;
    margin-top: 3rem;
    background-color: #07575b;
    color: white;
    
}

.btn:hover{
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.2);
}
.btn:active, .btn:focus{
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.2);
}
















